@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Name: @ViewData["Name"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More Information: </strong> <a href="https://github.com/jorgediniz1">GitHub</a>
</address>
